<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	<div class="container">
		<a class="navbar-brand" href="/home">LMYC</a>
		<button #navbarToggler class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#collapsingNavbar">
		<span class="navbar-toggler-icon"></span>
	  </button>
		<div class="navbar-collapse collapse w-100" id="collapsingNavbar">
			<ul class="nav navbar-nav ml-auto w-100" (click)="collapseNav()">
				<li><a class="nav-link" href="home/contact">Contact</a></li>
				<!-- <li><a class="nav-link" href="boats/index">Boats</a></li>
				<li><a class="nav-link" href="reservations/index">Reservations</a></li> -->
			</ul>
			<ul class="nav navbar-nav ml-auto w-100 justify-content-end">
				<li><a class="nav-link" href="account/register">Register</a></li>
				<li><a class="nav-link" href="account/login">Log In</a></li>
			</ul>
		</div>
	</div>
</nav>
